{% extends 'base.html' %} {% block title %}Edit Profile{% endblock %} {% block
content %}

<form method="post">
  <div class="form-group">
    <h1
      align="center"
      class="card-header text-white"
      style="background: -webkit-linear-gradient(bottom, #ff5e0e, #ff9944)"
    >
      Edit Profile
    </h1>

    <div align="center">
      <br />

      <label for="name">Full Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Enter your full name"
        maxlength="30"
        style="width: 300px; text-align: center"
        value="{{ user.fullname }}"
      />

      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter your email address"
        maxlength="35"
        style="width: 300px; text-align: center"
        value="{{ user.email }}"
      />

      <br />
      <button
        type="submit"
        class="btn"
        style="
          border-radius: 15px;
          background: -webkit-linear-gradient(top, #ff5e0e, #ff9944);
        "
      >
        Update Profile
      </button>
    </div>
  </div>
</form>

{% endblock %}
